/*--------------------------------- HEADER STYLING ------------------------------------------------------*/
.home-page__body {
  height: 100vh;
  width: 100%;
}
.home-page__header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #013a59, #013a68);

  padding: 0 2rem;
  height: 6%;
}

.home-page__header-logo {
  flex: 1;
  align-self: center;
  justify-content: flex-start;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.home-page__header-options {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}

.home-page__header-options p {
  margin: 1.5rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.home-page_header-options-avatar {
  align-self: center;
  margin-left: 1.5rem;
  align-self: center;
  color: #fff;
  cursor: pointer;
}

/*--------------------------------- BODY STYLING ------------------------------------------------------*/

.home-page__body-container {
  display: flex;
  flex-direction: row;
  background: #f0f2f5;
  height: 91%;
  justify-content: center;
}

.home-page__body-categories-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 30rem;
  margin-top: 3rem;
  border-radius: 5px;
  align-content: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

.home-page__body-categories-title {
  flex: 1;
  background: linear-gradient(135deg, #013a59, #013a68);
  align-items: center;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home-page__body-categories-title h2 {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
}

.home-page__body-categories-choices {
  flex: 7;
  list-style: none;
  justify-content: center;
}
.home-page__body-categories-choices li {
  list-style: none;
  border-bottom: 1px solid #edefe6;
  border-left: 1px solid #edefe6;
  border-right: 1px solid #edefe6;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
}

.home-page__body-categories-choices span {
  text-align: center;
  cursor: pointer;
}

.home-page__body-searchbar {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  width: 50%;
  height: 3rem;
  margin-left: 2rem;
  background: #013a68;
  border-radius: 5px;
  border: 2px solid #013a68;
  overflow: hidden;
}

.home-page__body-searchbar input {
  width: 93%;
  outline: none;
  border: none;
  text-indent: 1rem;
  font-size: 18px;
}

.home-page__body-searchbar-icon {
  display: flex;
  width: 7%;
  justify-content: center;
  align-items: center;
}

.home-page__body-searchbar-icon-logo {
  color: #fff;
}

.home-page__body-featured-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 30rem;
  margin-left: 2rem;
  margin-top: 3rem;
  border-radius: 5px;
  align-content: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-page__body-featured-title {
  flex: 1;
  background: linear-gradient(135deg, #013a59, #013a68);
  align-items: center;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home-page__body-featured-title h2 {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
}
.home-page__body-featured-features {
  flex: 7;
  list-style: none;
  justify-content: center;
}

/*--------------------------------- FOOTER STYLING ------------------------------------------------------*/

.home-page__footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(135deg, #013a59, #013a68);
  align-items: center;
  height: 3%;
}

.home-page__footer-rigths h1 {
  font-weight: 400;
  font-size: 15px;
  color: #fff;

}
